<div class="container">
      <div class="row" [ngSwitch]="optionMenu" >

        <div class="col-sm-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" (click)="onSelectState('info')" >ข้อมูลเว็บไซต์</button>
                <button type="button" class="btn btn-primary" (click)="onSelectState('report')" >ผลการตรวจสอบ</button>
                <button type="button" class="btn btn-primary" (click)="onSelectState('total')" >สถิติการตรวจสอบ</button>
                <button type="button" class="btn btn-primary" (click)="onSelectState('setting')" >ตั้งค่า</button>
            </div>
        </div>

        <section *ngSwitchCase="'info'" >

        <div class="col-sm-12">

          <div class="card bg-light">
                <article >
                      <h4 class="card-title mt-3 text-center">ข้อมูลผู้ดูแลเว็บไซต์</h4>
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th>ข้อมูล</th>
                            <th>รายละเอียด</th>
                            <th>หมายเหตุ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>ชื่อ-สกุล</td>
                            <td>{{this.usertest }}</td>
                            <td>ชื่อผู้ดูแลเว็บไซต์</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{this.email }}</td>
                            <td>E-Mail ผู้ใช้หรือหน่วยงาน</td>
                          </tr>
                          <tr>
                            <td>โทรศัพท์</td>
                            <td>{{ this.phone}}</td>
                            <td>หมายเลขโทรศัพท์ผู้ดูแลเว็บไซต์</td>
                          </tr>
                          <tr>
                            <td>องค์กร/หน่วยงาน</td>
                            <td>{{ this.org }}</td>
                            <td>หน่วยงานเจ้าของเว็บไซต์</td>
                          </tr>
                        </tbody>
                      </table>
                    
                </article>
              </div>

            </div>

            <div class="col-sm-12">
              <div class="card bg-light">
                <article >

                    <h4 class="card-title mt-3 text-center">ตรวจสอบ Web Accessibility</h4>
            <p class="text-center">ระบบตรวจสอบการเข้าถึงและใช้ประโยชน์ได้ของเว็บไซต์</p>
            <p>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   ตรวจสอบโดยระบบอัตโนมัติ</a>
            </p>
            <h4 class="card-title mt-3 text-center">ข้อมูลเว็บไซต์</h4>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>ข้อมูล</th>
                    <th>รายละเอียด</th>
                    <th>หมายเหตุ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Web Domain</td>
                    <td>nstda.or.th</td>
                    <td>โดเมนต์เว็บไซต์ที่ลงทะเบียนตรวจสอบ</td>
                  </tr>
                  <tr>
                    <td>ตรวจสอบครั้งแรก</td>
                    <td>15-05-2021</td>
                    <td>การตรวจสอบครั้งแรกจากระบบ</td>
                  </tr>
                  <tr>
                    <td>ตรวจสอบล่าสุด</td>
                    <td>15-05-2021</td>
                    <td>การตรวจสอบครั้งล่าสุดจากระบบ</td>
                  </tr>
                  <tr>
                    <td>ระดับการตรวจสอบ</td>
                    <td>A</td>
                    <td>ระดับการตรวจสอบตามมาตรฐาน WCAG2.0</td>
                  </tr>
                  <tr>
                    <td>ผลการตรวจสอบ</td>
                    <td>ผ่านเกณฑ์การตรวจสอบ 70%</td>
                    <td>คำนวนจากการผ่านเกณฑ์จากจำนวนการตรวจสอบของผู้ทดสอบ</td>
                  </tr>
                </tbody>
              </table>
            </article>
            </div>

            </div>
        
          </section>

              
          
    </div>
</div>

