<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" >ข้อมูลเว็บไซต์</button>
                <button type="button" class="btn btn-primary" >ผลการตรวจสอบ</button>
                <button type="button" class="btn btn-primary" >สถิติการตรวจสอบ</button>
                <button type="button" class="btn btn-primary" >ตั้งค่า</button>
            </div>
        </div>
        <div class="col-sm-8">

                <article 
                class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">ตรวจสอบ Web Accessibility</h4>
                    <p class="text-center">ระบบตรวจสอบการเข้าถึงและใช้ประโยชน์ได้ของเว็บไซต์</p>
                    <p>
                        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   ตรวจสอบโดยระบบอัตโนมัติ</a>
                    </p>
                    <p class="divider-text">
                        <span class="bg-light">ข้อมูลเว็บไซต์</span>
                    </p>
                    <h4 class="card-title mt-3 text-center">ข้อมูลเว็บไซต์</h4>
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th>ข้อมูล</th>
                            <th>รายละเอียด</th>
                            <th>หมายเหตุ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Web Domain</td>
                            <td>nstda.or.th</td>
                            <td>โดเมนต์เว็บไซต์ที่ลงทะเบียนตรวจสอบ</td>
                          </tr>
                          <tr>
                            <td>ตรวจสอบครั้งแรก</td>
                            <td>15-05-2021</td>
                            <td>การตรวจสอบครั้งแรกจากระบบ</td>
                          </tr>
                          <tr>
                            <td>ตรวจสอบล่าสุด</td>
                            <td>15-05-2021</td>
                            <td>การตรวจสอบครั้งล่าสุดจากระบบ</td>
                          </tr>
                          <tr>
                            <td>ระดับการตรวจสอบ</td>
                            <td>A</td>
                            <td>ระดับการตรวจสอบตามมาตรฐาน WCAG2.0</td>
                          </tr>
                          <tr>
                            <td>ผลการตรวจสอบ</td>
                            <td>ผ่านเกณฑ์การตรวจสอบ 70%</td>
                            <td>คำนวนจากการผ่านเกณฑ์จากจำนวนการตรวจสอบของผู้ทดสอบ</td>
                          </tr>
                        </tbody>
                      </table>

                      <h4 class="card-title mt-3 text-center">ข้อมูลผู้ดูแลเว็บไซต์</h4>
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th>ข้อมูล</th>
                            <th>รายละเอียด</th>
                            <th>หมายเหตุ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>ชื่อ</td>
                            <td>ผู้ใช้ทดสอบ</td>
                            <td>ชื่อผู้ดูแลเว็บไซต์</td>
                          </tr>
                          <tr>
                            <td>นามสกุล</td>
                            <td>ทดสอบ</td>
                            <td>นามสกุลผู้ใช้งาน</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>wasan.pan@ncr.nstda.or.th</td>
                            <td>E-Mail ผู้ใช้หรือหน่วยงาน</td>
                          </tr>
                          <tr>
                            <td>โทรศัพท์</td>
                            <td>081-1234567</td>
                            <td>หมายเลขโทรศัพท์ผู้ดูแลเว็บไซต์</td>
                          </tr>
                          <tr>
                            <td>หน่วยงาน</td>
                            <td>สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ</td>
                            <td>หน่วยงานเจ้าของเว็บไซต์</td>
                          </tr>
                        </tbody>
                      </table>
                    
                </article>
                
                
        </div>

          

    </div>
</div>

<p>member works!</p>
